<!DOCTYPE html>
<html lang="en">
<head>
    <title>Co-Op-Socity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/navigation.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="navbar">
        <a href="socity_master.html">Socity</a>
        <a href="building_master.html">Building</a>
        <a class="active" href="flat_master.html">Flat</a>
    </div>
    <div class="container">
        <h2>Flat Master</h2>
        <form>
            <div class="form-group">
                <label for="socityName">Select Socity Name:</label>
                <select class="form-control" id="socityName">
                </select>
            </div>
            <div class="form-group">
                <label for="buildingName">Select Building Name:</label>
                <select class="form-control" id="buildingName">
                </select>
            </div>
            <div class="form-group">
                <label for="name">Flat Number:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Flat Number" name="name">
            </div>

            <button id="submit" type="button" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Flat Number</th>
                    <th>Socity Id</th>
                    <th>Building Id</th>
                </tr>
            </thead>
            <tbody id="record">
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $.get("http://localhost:3000/socity", function (data, status) {
                data.forEach(element => {
                    $("#socityName").append("<option value=" + element._id + ">" + element.name + "</option>");
                });
            });
            $.get("http://localhost:3000/building", function (data, status) {
                data.forEach(element => {
                    $("#buildingName").append("<option value=" + element._id + ">" + element.name + "</option>");
                });
            });
            $.get("http://localhost:3000/flat", function (data, status) {
                data.forEach(element => {
                    $("#record").append("<tr><td>" + element._id + "</td><td>" + element.name + "</td><td>" + element.socityId + "</td><td>" + element.buildingId + "</td></tr>");
                });
            });
            $("#submit").click(function () {
                $.ajax({
                    url: "http://localhost:3000/flat/add",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    data: JSON.stringify({
                        "name": $('#name').val(),
                        "socity": $('#socityName').val(),
                        "building": $('#buildingName').val()
                    }),
                    success: function (data, textStatus, jqXHR) {
                        console.log(data, textStatus, jqXHR);
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown, textStatus, jqXHR);
                    }
                });
            });
        });
    </script>
</body>
</html>