<!DOCTYPE html>
<html lang="en">

<head>
    <title>Co-Op-Socity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/navigation.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="navbar">
        <a href="socity_master.html">Socity</a>
        <a href="building_master.html">Building</a>
        <a href="flat_master.html">Flat</a>
        <a href="person_master.html">Person</a>
        <a class="active" href="maintenance.html">Maintenance</a>
    </div>
    <div class="container">
        <h2>Person Master</h2>
        <form>
            <div class="form-group">
                <label for="socityName">Select Socity Name:</label>
                <select class="form-control" id="socityName">
                </select>
            </div>
            <div class="form-group">
                <label for="buildingName">Select Building Name:</label>
                <select class="form-control" id="buildingName">
                </select>
            </div>
            <div class="form-group">
                <label for="flatName">Select Flat Number:</label>
                <select class="form-control" id="flatName">
                </select>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Person Name" name="name">
            </div>
            <div class="form-group">
                <label for="mobile">Mobile Number:</label>
                <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile Number" name="mobile">
            </div>
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="text" class="form-control" id="email" placeholder="Enter Email Address" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
            </div>
            <div class="form-group">
                <label for="password">Confirm Password:</label>
                <input type="cnfPassword" class="form-control" id="cnfPassword" placeholder="Confirm Password"
                    name="cnfPassword">
            </div>
            <div class="form-group">
                <label for="flatName">Select Role in Socity:</label>
                <select class="form-control" id="role">
                    <option value="member">Member</option>
                    <option value="commity_member">Commity Member</option>
                    <option value="secratery">Secratery</option>
                    <option value="precident">Precident</option>
                </select>
            </div>
            <button id="submit" type="button" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Building </th>
                    <th>Flat Number</th>
                </tr>
            </thead>
            <tbody id="record">
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $.get("http://localhost:3000/socity", function (data, status) {
                data.forEach(element => {
                    $("#socityName").append("<option value=" + element._id + ">" + element.name + "</option>");
                });
            });
            $.get("http://localhost:3000/building", function (data, status) {
                data.forEach(element => {
                    $("#buildingName").append("<option value=" + element._id + ">" + element.name + "</option>");
                });
            });
            $.get("http://localhost:3000/flat", function (data, status) {
                data.forEach(element => {
                    $("#flatName").append("<option value=" + element._id + ">" + element.name + "</option>");
                });
            });
            $.get("http://localhost:3000/person", function (data, status) {
                console.log(data);

                data.forEach(element => {
                    $("#record").append("<tr><td>" + element.role + "</td><td>" + element.name + "</td><td>" + element.mobile + "</td><td>" + element.email + "</td><td>" + element.building.name + "</td><td>" + element.flat.name + "</td></tr>");
                });
            });
            $("#submit").click(function () {
                $.ajax({
                    url: "http://localhost:3000/person/add",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    data: JSON.stringify({
                        "socity": $('#socityName').val(),
                        "building": $('#buildingName').val(),
                        "flat": $('#flatName').val(),
                        "name": $('#name').val(),
                        "email": $('#email').val(),
                        "password": $('#cnfPassword').val(),
                        "mobile": $('#mobile').val(),
                        "role": $('#role').val()
                    }),
                    success: function (data, textStatus, jqXHR) {
                        console.log(data, textStatus, jqXHR);
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown, textStatus, jqXHR);
                    }
                });
            });
        });
    </script>
</body>

</html>