<!DOCTYPE html>
<html lang="en">

<head>
    <title>Co-Op-Socity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/navigation.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="navbar">
        <a href="socity_master.html">Socity</a>
        <a href="building_master.html">Building</a>
        <a href="flat_master.html">Flat</a>
        <a href="person_master.html">Person</a>
        <a class="active" href="maintenance.html">Maintenance</a>
    </div>
    <div class="container">
        <div class="row" style="text-align: center;">
            <h2>Collect Maintenance</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="socityName">Select Socity Name:</label>
                            <select class="form-control" id="socityName">
                                <option>---</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for=" buildingName">Select Building Name:</label>
                            <select class="form-control" id="buildingName">
                                <option>---</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="flatName">Select Flat Number:</label>
                            <select class="form-control" id="flatName">
                                <option>---</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Name:</label>
                            <span id="personId" value=""></span>
                            <input type="text" class="form-control" id="name" placeholder="Enter Person Name"
                                name="name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="date">Collection Date:</label>
                            <input type="date" class="form-control" id="date" name="date">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="forTheMonth">For The Month:</label>
                            <select class="form-control" id="forTheMonth">

                            </select>
                            <select class="form-control" id="year">

                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for=" amount">Amount:</label>
                            <input type="text" class="form-control" id="amount" placeholder="Enter Amount"
                                name="amount">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="remark">Remark:</label>
                            <textarea class="form-control" rows="2" id="remark"></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <button id="submit" type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h6>Personl Account Of <b><span id="personName"></span></b></h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Perticular</th>
                            <th>Dues</th>
                            <th>Payments</th>
                        </tr>
                    </thead>
                    <tbody id="record">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var field = document.querySelector('#date');
            var date = new Date();

            // Set the date
            field.value = date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) +
                '-' + date.getDate().toString().padStart(2, 0);
            let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            let year = new Date().getFullYear();
            let month = new Date().getMonth();

            for (let index = 0; index < months.length; index++) {
                if (month === index) {
                    $('#forTheMonth').append('<option selected value=' + months[index] + '>' + months[index] + '</option>');
                } else {
                    $('#forTheMonth').append('<option value=' + months[index] + '>' + months[index] + '</option>');
                }

            }
            for (let index = year - 5; index < year + 5; index++) {
                if (year === index) {
                    $('#year').append('<option selected value=' + index + '>' + index + '</option>');
                } else {
                    $('#year').append('<option value=' + index + '>' + index + '</option>');
                }

            }
            $.get("http://localhost:3000/socity", function (data, status) {
                data.forEach(element => {
                    $("#socityName").append("<option value=" + element._id + ">" + element.name + "</option>");
                });
            });
            /*$.get("http://localhost:3000/flat", function (data, status) {
                data.forEach(element => {
                    $("#flatName").append("<option value=" + element._id + ">" + element.name + "</option>");
                });
            });*/

            $("#submit").click(function () {
                $.ajax({
                    url: "http://localhost:3000/account/maintenance",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    data: JSON.stringify({
                        "socity": $('#socityName').val(),
                        "building": $('#buildingName').val(),
                        "flat": $('#flatName').val(),
                        "person": $('#personId').val(),
                        "note": $('#forTheMonth').val() + '-' + $('#year').val(),
                        "date": $('#date').val(),
                        "category": "maintenance",
                        "amount": $('#amount').val(),
                        "remark": $('#remark').val()
                    }),
                    success: function (data, textStatus, jqXHR) {
                        console.log(data, textStatus, jqXHR);
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown, textStatus, jqXHR);
                    }
                });
            });

            //on change events
            $("#socityName").change(function () {
                $.ajax({
                    url: "http://localhost:3000/building/find",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    data: JSON.stringify({
                        socity: $('#socityName').val()
                    }),
                    success: function (data, textStatus, jqXHR) {
                        console.log(data, textStatus, jqXHR);
                        //location.reload();
                        data.forEach(element => {
                            $("#buildingName").append("<option value=" + element._id + ">" + element.name + "</option>");
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown, textStatus, jqXHR);
                    }
                });
            });
            $("#buildingName").change(function () {
                $.ajax({
                    url: "http://localhost:3000/flat/find",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    data: JSON.stringify({
                        building: $('#buildingName').val()
                    }),
                    success: function (data, textStatus, jqXHR) {
                        console.log(data, textStatus, jqXHR);
                        $("#flatName").empty();
                        $("#flatName").append("<option>---</option>");
                        //location.reload();
                        data.forEach(element => {
                            $("#flatName").append("<option value=" + element._id + ">" + element.name + "</option>");
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown, textStatus, jqXHR);
                    }
                });
            });
            $("#flatName").change(function () {
                $.ajax({
                    url: "http://localhost:3000/person/find",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    data: JSON.stringify({
                        flat: $('#flatName').val()
                    }),
                    success: function (data, textStatus, jqXHR) {
                        $("#name").val(data[0].name);
                        $("#personId").val(data[0]._id);
                        
                        $.ajax({
                            url: "http://localhost:3000/account/getMaintenanceDetails",
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            type: "POST",
                            data: JSON.stringify({
                                flat: $('#flatName').val()
                            }),
                            success: function (data, textStatus, jqXHR) {
                                console.log("nested ajax", data);
                                $('#personName').empty();
                                $('#record').empty();
                                $('#personName').append(data[0].person.name);
                                
                                data.forEach(element => {
                                    if (element.category === "maintenance") {
                                        $("#record").append("<tr><td>" + element.date + "</td><td>" + element.note + "</td><td></td><td>" + element.amount + "</td></tr>");
                                    } else {

                                    }
                                });
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(errorThrown, textStatus, jqXHR);
                            }
                        })
                        //location.reload();

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown, textStatus, jqXHR);
                    }
                });

            });

        });
    </script>
</body>

</html>